#!/usr/bin/make -f

# Ninja nur verwenden, wenn verfügbar
BUILDSYS := cmake
ifneq (,$(shell command -v ninja 2>/dev/null))
BUILDSYS := cmake+ninja
endif

%:
	dh $@ --buildsystem=$(BUILDSYS) --builddirectory=build

override_dh_auto_configure:
	dh_auto_configure -- \
	  -DCMAKE_INSTALL_PREFIX=/usr \
	  -DLIBEASYMCP2221_BUILD_SHARED=ON \
	  -DLIBEASYMCP2221_BUILD_STATIC=ON

override_dh_auto_test:
	true

override_dh_missing:
	dh_missing --fail-missing

override_dh_installudev:
	dh_installudev --name=mcp2221
