#!/usr/bin/make -f

%:
	@if command -v ninja >/dev/null 2>&1; then \
	  echo "Using cmake+ninja"; \
	  dh $@ --buildsystem=cmake+ninja --builddirectory=build --fail-missing; \
	else \
	  echo "Using cmake (Unix Makefiles)"; \
	  dh $@ --buildsystem=cmake --builddirectory=build --fail-missing; \
	fi

override_dh_auto_configure:
	dh_auto_configure -- \
	  -DCMAKE_INSTALL_PREFIX=/usr \
	  -DLIBEASYMCP2221_BUILD_SHARED=ON \
	  -DLIBEASYMCP2221_BUILD_STATIC=ON

override_dh_installudev:
	dh_installudev